.admin-base-form{
    padding-top: 55px;
    padding-bottom: 90px;
    padding-left: 95px;
    padding-right: 95px;
    border-radius: 15px;
    width: 1250px;
}

.base-form-title{
    padding-top: 65px;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    font-family: roboto;
}

.base-form-actions{
    margin-top: 25px;
}